body {
  font-family: Arial, sans-serif;
  background-image: url("https://imgs.search.brave.com/lAB8eKh4JQKFWpGmOKsOylHbEGNv_8v9uzTEVcCcATE/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTQ0/MzA1NDk3Ny92ZWN0/b3IvaW1wb3J0YW50/LWFubm91bmNlbWVu/dC1mbGF0LWRlc2ln/bi1vbi1ibHVlLWJh/Y2tncm91bmQuanBn/P3M9NjEyeDYxMiZ3/PTAmaz0yMCZjPVpw/Ti1lcGY5Sng1emIw/SF9TaGtnenlqcDBk/Q0p5UHkxYVRqeVRu/N1FjbmM9");
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

#announcementList {
  margin-bottom: 20px;
}

.announcement {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.announcement h2 {
  margin-top: 0;
}

.announcement p {
  margin-bottom: 10px;
}

.announcement button {
  background-color: #0b0c0c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: -10px; /* Adjusted margin */
}

.announcement button:hover {
  background-color: #090909;
}

#announcementForm {
  display: none;
  margin-top: 10px; /* Adjusted margin */
}

#announcementForm h2 {
  margin-top: 0;
}

#announcementForm input[type="text"],
#announcementForm select,
#announcementForm textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Ensure padding and border don't affect width */
}

#announcementForm button {
  background-color: #0a0a0a;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

#announcementForm button:hover {
  background-color: #0c0c0c;
}
.announcement button {
  background-color: #040405;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: -10px; /* Adjusted margin */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.announcement button:hover {
  background-color: #060606;
}
