body {
  font-family: Arial, sans-serif;
  background-image: url("../../asssets/image/login_01.jpeg");
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.container {
  max-width: 500px;
  width: 100%;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  margin: 0;
  font-size: 2em;
  color: #040404;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.toggle-group {
  display: flex;
  justify-content: center; /* Align buttons to the center */
}

.toggle-group input[type="radio"] {
  display: none;
}

.toggle-group label {
  cursor: pointer;
  padding: 10px 20px; /* Increase padding to make buttons larger */
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.toggle-group input[type="radio"]:checked + label {
  background-color: #070808;
  color: #fff;
}

.btn {
  display: block;
  width: 100%;
  padding: 15px; /* Increase padding to make buttons larger */
  background-color: #040404;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #030303;
}

.login-link {
  text-align: center;
  margin-top: 20px;
}

.login-link a {
  color: #0a0a0a;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}
