body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.sidebar {
    background-color: #333;
    color: #fff;
    padding: 20px;
    height: 100vh;
    box-sizing: border-box; /* Ensures padding is included in the width and height */
}

.sidebar h2 {
    text-align: left;
    margin-top: 0; /* Remove default margin to align with top of sidebar */
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: bold;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #040404;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #030303;
}

.signup-link {
    text-align: center;
    margin-top: 20px;
}

.signup-link a {
    color: #0b0b0b;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}
