<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Resource</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
    <h2>View Resource</h2>
    <!-- Display resources -->
    <div class="options">
        <div class="option"> 
            <label for="department">Department:</label>
            <select id="department" name="department"> 
                <option value="">Select Department</option> <option value="computer-science-engineering">Computer Science and Engineering</option> 
                <option value="information-science-engineering">Information Science Engineering</option> <!-- Add more department options here --> 
            </select> 
        </div>
        
        <div class="option">
            <label for="semester">Semester:</label>
            <select id="semester" name="semester">
                <option value="">Select Semester</option>
                <option value="1">Semester 1</option>
                <option value="2">Semester 2</option>
                <option value="3">Semester 3</option>
                <option value="4">Semester 4</option>
                <option value="5">Semester 5</option>
                <option value="6">Semester 6</option>
                <option value="7">Semester 7</option>
                <option value="8">Semester 8</option>
            </select>
        </div>
    </div>
    <a href="info.html">
        <button class="go-btn">Go</button>
    </a>
    </div>
</body>
</html>
